<div class="container-account">
  <div class="container-personal-data">
    <div>
      <mat-form-field class="example-full-width">
        <input class="name" matInput placeholder="Imię" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input class="name" matInput placeholder="Nazwisko" />
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="E-mail" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Numer telefonu" />
    </mat-form-field>
  </div>
  <div class="container-residence-details">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ulica" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Miasto" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Kraj" />
    </mat-form-field>
  </div>
  <div><button>Aktualizuj dane</button></div>
</div>
